{% if items.Provenance %}
    <tr>
        <td>
            {% if items.Value %}
            <div class="flex items-center relative">
                <span>{{ items.Value|linebreaks|safe }}</span>
                {% include './json_value_provenance.html' with source=items.Provenance %}
            </div>
            {% else %}
            /
            {% endif %}
        </td>
    </tr>
{% else %}
    {% for key, value in items.items %}
    <tr>
    <td>
        <table>
            <tr>
                <td class="align-top w-[250px]">{{ key }}:</td>
                <td><table>{% include 'registry/partials/json_value.html' with items=value %}</table></td>
            </tr>
        </table>
    </td>
    </tr>
    {% endfor %}
{% endif %}
