{% extends 'base.html' %}

{% load markdownify %}

{% block title %}{{ collection }}{% endblock %}

{% block body %}

<div class="container">
    <div class="flex justify-between items-center">
        <h1>{{ collection.name }}</h1>
    </div>

    <dl>
        <div>
            <dt>ID</dt>
            <dd class="!text-base font-mono">{{ collection.id }}</dd>
        </div>

        {% if collection.archived %}
        <div class="bg-yellow-50">
            <dt>Archived</dt>
            <dd>
                <h3 class="text-sm font-medium text-yellow-800">Please note!</h3>
                This collection is archived.
                <br>Update it if you need to un-archive it.
            </dd>
        </div>
        {% endif %}

        <div>
            <dt>Description</dt>
            <dd>
                {% if collection.description %}
                {{ collection.description|markdownify }}
                {% else %}
                /
                {% endif %}
            </dd>
        </div>

        <div>
            <dt>Use cases</dt>
            <dd>
                {% if collection.groups.all.count %}
                <ul>
                    {% for group in collection.groups.all %}
                    <li><a href="{% url 'registry:group' group.id %}">{{ group }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                /
                {% endif %}
            </dd>
        </div>

        {% if collection.resources.all %}
        <div>
            <dt>Resources</dt>
            <dd>
                <table>
                    <tr class="border-b">
                        <th class="text-left py-2 pr-gap">Material</th>
                        <th class="text-left py-2">CAS number</th>
                    </tr>
                    {% for resource in collection.resources.all %}
                    <tr class="border-b">
                    {% if not resource.archived %}
                        <td class="py-2 pr-gap"><a href="{% url 'registry:resource' resource.id %}">{{ resource.name }}</a></td>
                        <td class="py-2">{{ resource.harmonised_json.Properties.Identifiers.CasRegistryNumber.Value }}</td>
                    {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </dd>
        </div>
        {% endif %}
    </dl>
</div>

{% endblock %}
