{% extends 'base.html' %}

{% block title %}{{ license }}{% endblock %}

{% block body %}

<div class="container">

    <h1>{{ license }}</h1>

    <dl>
        <div>
            <dt>ID</dt>
            <dd class="!text-base font-mono">{{ license.id }}</dd>
        </div>

        <div>
            <dt>URL</dt>
            <dd>
                <a href="{{ license.url }}">{{ license.url }}</a>
            </dd>
        </div>

        {% if license.description %}
        <div>
            <dt>Description</dt>
            <dd>
                {{ license.description }}
            </dd>
        </div>
        {% endif %}

        <div>
            <dt>Resources</dt>
            <dd>
                {% if license.resources.all.count %}
                <ul>
                    {% for resource in license.resources.all %}
                    <li><a href="{% url 'registry:resource' resource.id %}">{{ resource }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                /
                {% endif %}
            </dd>
        </div>
    </dl>
</div>

{% endblock %}
