{% extends 'base.html' %}

{% block title %}{{ person }}{% endblock %}

{% block body %}

<div class="container">

    <h1>{{ person }}</h1>

    <dl>
        <div>
            <dt>ID</dt>
            <dd class="!text-base font-mono">{{ person.id }}</dd>
        </div>
        <div>
            <dt>Email</dt>
            <dd>
                {% if person.user.email %}
                <a href="mailto:{{ person.email }}">{{ person.email }}</a>
                {% else %}
                /
                {% endif %}
            </dd>
        </div>

        <div>
            <dt>ORCID</dt>
            <dd>
                {% if person.orcid %}
                <a href="{{ person.orcid_url }}">{{ person.orcid }}</a>
                {% else %}
                /
                {% endif %}
            </dd>
        </div>

        <div>
            <dt>Organisations</dt>
            <dd>
                {% if person.organisations.all.count %}
                <ul>
                    {% for organisation in person.organisations.all %}
                    <li><a href="{% url 'registry:organisation' organisation.id %}">{{ organisation }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                /
                {% endif %}
            </dd>
        </div>

        <div>
            <dt>Use cases</dt>
            <dd>
                {% if person.groups.all.count %}
                <ul>
                    {% for group in person.groups.all %}
                    <li><a href="{% url 'registry:group' group.id %}">{{ group }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                /
                {% endif %}
            </dd>
        </div>

        <div>
            <dt>Resources</dt>
            <dd>
                {% if person.resources.all.count %}
                <ul>
                    {% for resource in person.resources.all %}
                    <li><a href="{% url 'registry:resource' resource.id %}">{{ resource }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                /
                {% endif %}
            </dd>
        </div>

    </dl>

</div>

{% endblock %}
