<div class="cursor-pointer ml-2 mt-1 relative inline-block" _="on click toggle .hidden on .provenance in me">
    <span class="material-symbols-outlined">info</span>
    <div class="provenance hidden text-sm bg-white border p-gap absolute top-2gap -left-[200px] z-10 w-[300px]">
        <span class="material-symbols-outlined absolute top-2 right-2" _="on click toggle .hidden on closest parent">close</span>
        <div class="font-bold">Provenance</div>
        <div>Source: {{ source.Source }}</div>
        <div>Access date: {{ source.AccessDate }}</div>
        <div>Original source: {{ source.LinkOriginal }}</div>
        <div>Extracted data: {{ source.LinkExtracted }}</div>
    </div>
</div>
