{% if items.Provenance %}
    <tr>
        <td>
            {% if items.Value %}
            <div class="flex items-center relative">
                <span>{{ items.Value|safe }}</span>
                <div class="cursor-pointer ml-2 relative" _="on click toggle .hidden on .provenance in me">
                    <span class="material-symbols-outlined">info</span>
                    <div class="provenance hidden text-sm bg-white border p-gap absolute top-2gap -left-[200px] z-10">
                        <span class="material-symbols-outlined absolute top-2 right-2" _="on click toggle .hidden on closest parent">close</span>
                        <div class="font-bold">Provenance</div>
                        <div>Source: {{ items.Provenance.Source }}</div>
                        <div>Access date: {{ items.Provenance.AccessDate }}</div>
                        <div>Original source: {{ items.Provenance.LinkOriginal }}</div>
                        <div>Extracted data: {{ items.Provenance.LinkExtracted }}</div>
                    </div>
                </div>
            </div>
            {% else %}
            /
            {% endif %}
        </td>
    </tr>
{% else %}
    {% for key, value in items.items %}
    <tr>
    <td>
        <table>
            <tr>
                <td class="align-top w-[250px]">{{ key }}:</td>
                <td><table>{% include 'registry/partials/json_value.html' with items=value %}</table></td>
            </tr>
        </table>
    </td>
    </tr>
    {% endfor %}
{% endif %}
