<div class="space-y-2gap mb-2gap">
    {% include 'partials/form_field.html' with field=form.name %}
    {% include 'partials/form_field.html' with field=form.kind %}
    {% include 'partials/form_field.html' with field=form.description %}
    {% include 'partials/form_field.html' with field=form.status %}
    {% include 'partials/form_field.html' with field=form.license %}
    {% include 'partials/form_field.html' with field=form.groups %}
    {% include 'partials/form_field.html' with field=form.data_link %}
    {% include 'partials/form_field.html' with field=form.data_file %}
</div>
