{% extends 'base.html' %}

{% block title %}{{ organisation }}{% endblock %}

{% block body %}
<div class="container">
    <h1>
        <div class="mb-1">Organisation</div>
        <div class="text-lg leading-normal">{{ organisation }}</div>
    </h1>

    <dl>
        <div>
            <dt>ID</dt>
            <dd class="!text-base font-mono">{{ organisation.id }}</dd>
        </div>

        <div>
            <dt>Name</dt>
            <dd>{{ organisation.name }}</dd>
        </div>

        <div>
            <dt>Acronym</dt>
            <dd>{{ organisation.short_name }}</dd>
        </div>

        <div>
            <dt>Country</dt>
            <dd>{{ organisation.country.name }}</dd>
        </div>

        <div>
            <dt>ROR ID</dt>
            <dd>
                {% if organisation.ror %}
                {{ organisation.ror }}
                {% else %}
                /
                {% endif %}
            </dd>
        </div>

        <div>
            <dt>Members</dt>
            <dd>
                {% if organisation.people.all.count %}
                <ul>
                    {% for person in organisation.people.all %}
                    <li><a href="{% url 'registry:person' person.id %}">{{ person }}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                /
                {% endif %}
            </dd>
        </div>
    </dl>
</div>
{% endblock %}
