{% extends 'base.html' %}

{% load static %}

{% block title %}Password Reset Complete{% endblock %}

{% block header %}{% endblock %}

{% block body_class %}bg-gray-50{% endblock %}

{% block body %}

<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
    <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <img class="mx-auto h-8 w-auto" src="{% static 'images/logo.png' %}" alt="Logo">
        <h2 class="mt-6 text-center text-3xl font-bold tracking-tight">Password reset complete</h2>
    </div>

    <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
        <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10 text-center">
            <div class="rounded-md bg-green-50 p-4 mb-6">
                <div class="flex">
                    <div class="mx-auto">
                        <p class="text-sm font-medium text-green-800">Your password has been reset. You may now log in with your new password.</p>
                    </div>
                </div>
            </div>

            <a href="{% url 'login' %}" class="btn btn-primary inline-block">Log in now</a>
        </div>
    </div>
</div>

{% endblock %}
