{% autoescape off %}
Dear {% if user.first_name %}{{ user.first_name }}{% else %}user{% endif %},

You're receiving this email because you requested a password reset for your account at {{ site_name }} Registry.

Please go to the following page and choose a new password:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Your username, in case you've forgotten: {{ user.get_username }}

This link will expire in 24 hours. If you did not request this password reset, please ignore this email.

In case you have any questions or run into problems, please contact us at {{ registry_support_email }}


Best regards,

The {{ site_name }} Registry team
{% endautoescape %}
